In [1]:
from Data import *

In [2]:
data = create_data(start_date=datetime(2021,7,1), end_date=datetime(2021,7,30))

In [3]:
data

,token_delta,eth_delta,id,UNI_delta,logIndex,timestamp,event,token_balance,eth_balance,UNI_supply
0,3.387945e+06,4598.868790,NaN,124822.736594,NaN,2021-07-01 03:00:00,NaN,3.387945e+06,4598.868790,124822.736594
1,-6.643182e+03,9.062500,0x1a5d6b028cf5c2bcfd70e2cbc0c3c91f85a08113be5b...,0.000000,30.0,2021-07-01 03:31:42,tokenPurchase,3.381302e+06,4607.931290,124822.736594
2,-4.258481e+03,5.828125,0x95e62a3d02046fba6b6de4a8ca8bfadd2b55d8906f4c...,0.000000,20.0,2021-07-01 04:01:16,tokenPurchase,3.377044e+06,4613.759415,124822.736594
3,5.240323e+03,-7.126891,0xfdc5ebc7944bdd1606fd4719a0ab173a16ddd9782a4a...,0.000000,355.0,2021-07-01 05:49:04,ethPurchase,3.382284e+06,4606.632524,124822.736594
4,4.506714e+03,-6.111561,0xa91ca87e67192e4d080fc1932f332f0375f36682b99f...,0.000000,212.0,2021-07-01 05:54:22,ethPurchase,3.386791e+06,4600.520963,124822.736594
...,...,...,...,...,...,...,...,...,...,...
1902,-1.458618e+04,18.036341,0x0c5761ad215c810fae2d7691e8499afc6508619ce912...,0.000000,43.0,2021-07-30 22:17:09,tokenPurchase,5.466306e+06,6757.044364,187770.840784
1903,6.912168e+03,-8.507953,0xcab920a7baf19f216309d55592aec5b99ec65925bd5d...,0.000000,23.0,2021-07-30 23:12:15,ethPurchase,5.473218e+06,6748.536411,187770.840784
1904,3.337499e+03,-4.100334,0xa33e3af0976a3b4bd88cf087d86306ba851c16364fb6...,0.000000,232.0,2021-07-30 23:12:15,ethPurchase,5.476556e+06,6744.436077,187770.840784
1905,9.812119e+03,-12.025995,0x3991cd2ecb5f88c9d04604e225f936a2421d92bfdd57...,0.000000,18.0,2021-07-30 23:49:56,ethPurchase,5.486368e+06,6732.410082,187770.840784
1906,8.054723e+03,-9.840025,0x144c64ef9919e39e16a02019f5bf40aaca4b55f44d90...,0.000000,59.0,2021-07-30 23:55:03,ethPurchase,5.494422e+06,6722.570057,187770.840784

In [2]:
mint_query = PaginatedQuery("mints",
                            ["id","timestamp", "amount0", "amount1", "logIndex", "liquidity"], "mints",
                     first=1000, where_clause={"pair": "0x8ae720a71622e824f576b4a8c03031066548a3b1"},
                           start_date = datetime(2020,7,1),
                           end_date = datetime(2021,7,30))

In [3]:
data = pull_data(mint_query)

In [4]:
data

,amount0,amount1,id,liquidity,logIndex,timestamp,event
0,175.000000,0.287282,0xffd9f7b63b3d76106bfc4c7a6db6974e5846f6ac9684...,6.861307,264,2021-03-20 03:23:16,mints
1,286.985214,0.530000,0xffc646084626716e7e8837177535510300a674f45b3c...,11.985144,211,2021-02-22 19:35:19,mints
2,800.000000,1.020004,0xffc55ee6666267327ce615cd07a56c8feaa69fa1772a...,27.033005,171,2021-07-04 21:18:17,mints
3,7092.682392,12.486767,0xffc393afdabcf8358ae36be9588a873073eda198d6a4...,289.726541,169,2021-02-19 06:41:38,mints
4,27.403122,0.048809,0xffbdcc24dc47cc8db97eb53825b31e48e5f8a805b746...,1.125902,103,2021-02-19 07:54:51,mints
...,...,...,...,...,...,...,...
290,230.636435,0.508448,0x0016b25c8c04e68594d3b8afac385ed1f580267f89f0...,10.510359,147,2021-02-27 02:07:25,mints
291,13014.365627,23.388915,0x00150e1b2b2d695ee0d04f4daabd809fec52d24996c9...,536.972352,262,2021-02-19 22:08:47,mints
292,190.452122,0.372774,0x0011dba176ffb173e16dd98c4de45bf9124e6b2709c4...,8.183317,255,2021-02-24 16:55:42,mints
293,37892.869315,80.528645,0x000b06281cb3567f8dedff205abb1753b8216e96ec61...,1692.757620,103,2021-03-05 15:15:17,mints
294,40.000000,0.067548,0x0008b0f7265a02e1b1581b45c8cf73e46205639f637a...,1.598608,44,2021-02-21 01:50:39,mints

In [4]:
out = mint_query.run_queries()