In [24]:
query = """query{
  mints(where: {pair: "0x8ae720a71622e824f576b4a8c03031066548a3b1"},
  orderBy: id, orderDirection: desc) {
    id,
    timestamp,logIndex
  }
}"""

In [30]:
timestamp_gte
timestamp_lte

NameError: name 'timestamp_gte' is not defined

In [ ]:
#Add datetime constraints
#Sort by ID
#While the len(result) > 0
#Pull more

In [36]:
from ..uniswap_digital_twin import Data

ImportError: attempted relative import with no known parent package

In [25]:
import requests
import json

In [26]:
graph_url = 'https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2'
#Make the request
request = requests.post(graph_url, json={'query': query})
    
#Pull the json out from the text
data = json.loads(request.text)

In [27]:
import pandas as pd
df = pd.DataFrame(list(data['data']['mints']))

In [29]:
df

                                                   id logIndex   timestamp
0   0xffd9f7b63b3d76106bfc4c7a6db6974e5846f6ac9684...      264  1616210596
1   0xffc8a1d4de6dd12372e9d5ad5aad9c767d3aea65b457...      198  1627878641
2   0xffc646084626716e7e8837177535510300a674f45b3c...      211  1614022519
3   0xffc55ee6666267327ce615cd07a56c8feaa69fa1772a...      171  1625433497
4   0xffc393afdabcf8358ae36be9588a873073eda198d6a4...      169  1613716898
..                                                ...      ...         ...
95  0xfb76bfd5b36155f78a53f29eafeb21f13459578a4751...      161  1614157724
96  0xfb6ebbd8ed31f9f39d2630afc7adb1c6412dd97a3bd0...      127  1614101333
97  0xfb6d21d19218296b9f43f9f57b15d45a4fe48c43ad83...      201  1625550152
98  0xfb67fdf09193a2123af667dc181fc7dd0fc264d84e7c...      119  1613841680
99  0xfb5d392b0c9170d776f9094bcf8c19553b01427bf744...      109  1614488279

[100 rows x 3 columns]

In [23]:
df

                                                   id logIndex   timestamp
0   0x7e8586cac9ee0bb508d4105fe8766b32d1a52a7cdc5e...      272  1627918115
1   0xa9c8369cc8f06f5cbca814af4c914c72982c07289908...       78  1627918107
2   0x15b21b06e068146849dda4da5a9cff2bcd6dafdc05fc...      213  1627918103
3   0xed898a95772d8f715ca35ea6ec29036fe0acc20b530b...      174  1627918066
4   0x2c16a94a75b76ed9b7aee4e1bbec9756d97c2b2a07c4...      239  1627918066
..                                                ...      ...         ...
95  0xd62e6c7144479d8fcc25638fb7a8945c6af6061421d0...      288  1627914700
96  0x8bc1e098707990f3c7a34c7606e57c8308a2e0a101e7...      312  1627914700
97  0x3482a69088249d1c6989b25aeaa2946a74cc58f4c1f5...      300  1627914700
98  0x515f8ff6514b9ad76dca6ca0f60e8b32938ccbbc19bc...      405  1627914675
99  0xa9e4771ac927187872d4f44d7595f9f2abe1372cf006...      150  1627914615

[100 rows x 3 columns]